@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$black: color(black);
$gray-333435: color(gray-333435);
$color-primary: color(primary);
$color-secondary: color(secondary);
$gray-EEEEEE: color(gray-EEEEEE);
$gray-A3A3A3: color(gray-A3A3A3);
$gray-D8D8D8: color(gray-D8D8D8);
$gray-666666: color(gray-666666);
$burnt-sienna: color(burnt-sienna);
$gray-E5E5E5: color(gray-E5E5E5);

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/MontserratLight.eot');
  src: url('../assets/fonts/MontserratLight.eot') format('embedded-opentype'),
       url('../assets/fonts/MontserratLight.woff2') format('woff2'),
       url('../assets/fonts/MontserratLight.woff') format('woff'),
       url('../assets/fonts/MontserratLight.ttf') format('truetype'),
       url('../assets/fonts/MontserratLight.svg#MontserratLight') format('svg');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/MontserratRegular.eot');
  src: url('../assets/fonts/MontserratRegular.eot') format('embedded-opentype'),
       url('../assets/fonts/MontserratRegular.woff2') format('woff2'),
       url('../assets/fonts/MontserratRegular.woff') format('woff'),
       url('../assets/fonts/MontserratRegular.ttf') format('truetype'),
       url('../assets/fonts/MontserratRegular.svg#MontserratRegular') format('svg');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/MontserratMedium.eot');
  src: url('../assets/fonts/MontserratMedium.eot') format('embedded-opentype'),
       url('../assets/fonts/MontserratMedium.woff2') format('woff2'),
       url('../assets/fonts/MontserratMedium.woff') format('woff'),
       url('../assets/fonts/MontserratMedium.ttf') format('truetype'),
       url('../assets/fonts/MontserratMedium.svg#MontserratMedium') format('svg');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/MontserratSemiBold.eot');
  src: url('../assets/fonts/MontserratSemiBold.eot') format('embedded-opentype'),
       url('../assets/fonts/MontserratSemiBold.woff2') format('woff2'),
       url('../assets/fonts/MontserratSemiBold.woff') format('woff'),
       url('../assets/fonts/MontserratSemiBold.ttf') format('truetype'),
       url('../assets/fonts/MontserratSemiBold.svg#MontserratSemiBold') format('svg');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/MontserratBold.eot');
  src: url('../assets/fonts/MontserratBold.eot') format('embedded-opentype'),
       url('../assets/fonts/MontserratBold.woff2') format('woff2'),
       url('../assets/fonts/MontserratBold.woff') format('woff'),
       url('../assets/fonts/MontserratBold.ttf') format('truetype'),
       url('../assets/fonts/MontserratBold.svg#MontserratBold') format('svg');
  font-weight: 700;
  font-display: swap;
}

// Default
*, ::after, ::before {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

::-moz-selection {
  color: $white;
  background-color: $color-secondary;
}

::selection {
  color: $white;
  background-color: $color-secondary;
}

:focus {
  outline-offset: 0;
  outline: 0 none;
}

body {
  background-image: url(~theme/assets/body-bg.jpg);
  background-repeat: repeat;
  background-size: auto;
  background-position: 0 0;
  color: $color-primary;
}

a, button, input[type="submit"], input[type="button"] {
  transition: all 0.5s ease 0s;
}

p {
  margin: 0 0 15px 0;
}

p:last-child {
  margin-bottom: 0;
}

p:empty {
  margin: 0;
}

.site-header {
  color: $white;
}

.site-header a {
  color: $white;

  &.router-link-exact-active,
  &:hover {
    color: $gray-333435;
  }
}

// a.underline:after, a:not(.no-underline):hover:after {
//   display: none;
// }

a {
  color: $color-primary;

  &:hover {
    color: $color-secondary;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.object-cover {
  font-family: 'object-fit: cover;';
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.custom-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;

  li {
    margin-bottom: 20px;
    padding-left: 30px;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    &::after {
      content: "";
      background-image: url(~theme/assets/blue-tick.svg);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: auto;
      width: 16px;
      height: 16px;
      position: absolute;
      left: 0;
      top: 1px;
    }
  }
}

.shaded-box {
  box-shadow: 0 0 20px rgba($black, 0.08);
  border-radius: 10px;
  background-color: $white;
  padding: 40px 55px;
}

.shaded-strip {
  border-top: 1px solid $gray-EEEEEE;
  border-bottom: 1px solid $gray-EEEEEE;
  box-shadow: 0 0 20px rgba($black, 0.08);
  padding: 40px 0;
  background-color: $white;
}

.slider-spacing {
  padding: 0 55px;
}

.title-sec {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &::after {
    content: "";
    background-image: url(~theme/assets/title-bg.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    position: absolute;
    width: 48px;
    height: 43px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.sec-title {
  font-size: 20px;
  position: relative;
  z-index: 1;

  .sec-title-wrap {
    position: relative;

    img {
      position: absolute;
      left: 0;
      max-width: 48px;
      max-height: 48px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.sec-subtitle {
  font-size: 16px;
  font-weight: 300;
}

.badge-enabled {
  .sec-title-wrap {
    padding-left: 68px;
  }
}

.VueCarousel-dot,
.VueCarousel-navigation-button:focus {
  outline: 0 none !important;
}

.btn-outlined {
  font-size: 13px;
  background-color: transparent;
  font-weight: 500;
  color: $color-primary;
  border: 1px solid $gray-A3A3A3;
  padding: 10px;
  border-radius: 6px;

  &:hover {
    color: $color-primary;
    background-color: transparent;
    border-color: $gray-A3A3A3;
    opacity: 0.6;
  }
}

.notification {
  &.warning {
    box-shadow: none;
    background-color: rgba($black, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    color: $color-primary;

    .notification-wrap {
      background-color: $white;
      padding: 60px 55px;
      border-radius: 20px;
      max-width: 595px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin: 0 auto;
      text-align: center;

      .notification-title {
        font-size: 30px;
        font-weight: 600;
        color: $color-primary;
        margin-bottom: 30px;
      }

      .message {
        padding: 0;
        color: $gray-A3A3A3;
        margin-bottom: 40px;
        font-size: 20px;
        font-weight: 500;
      }

      .actions {
        justify-content: center;

        .notification-action {
          font-size: 16px;
          font-weight: 500;
          border-radius: 6px;
          border: 1px solid $gray-D8D8D8;
          color: $gray-666666;
          margin-left: 20px;
          background-color: transparent;
          text-transform: capitalize;
          min-width: 180px;
          padding: 12px 10px;
          transition: all 0.3s ease 0s;

          &:hover {
            color: $white;
            background-color: $gray-666666;
            border-color: $gray-666666;
          }

          &:first-child {
            margin-left: 0;
          }

          &#notificationAction2 {
            width: auto;
            background-color: $burnt-sienna;
            color: $white;
            border-color: $burnt-sienna;

            &:hover {
              background-color: transparent;
              color: $burnt-sienna;
              border-color: $burnt-sienna;
            }
          }
        }
      }
    }
  }
}

.sidebar-close {
  position: absolute;
  top: 30px;
  cursor: pointer;
}

.right-sidebar {
  .sidebar-close {
    left: -75px;
  }
}

.left-sidebar {
  .sidebar-close {
    right: -75px;
  }
}

.sidebar-title {
  border-bottom: 1px solid $gray-E5E5E5;
  margin-bottom: 30px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;

  h2 {
    margin: 0;
    font-size: 24px;
  }
}

.sidebar-wrap {
  .product-list {
    margin: 0;
    padding: 0;
  }
}

@keyframes rotate-infinite {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.btn-fill {
  border: 1px solid;
  background-color: transparent;
  color: $color-primary;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 700;
  padding: 13px 31px;

  &:hover {
    opacity: 0.6;
  }
}

.btn-primary {
  border-color: $color-primary;
  background-color: $color-primary;
  color: $white;

  &:hover {
    border-color: $color-primary;
    background-color: $color-primary;
    color: $white;
  }
}

.btn-secondary {
  border-color: $color-secondary;
  background-color: $color-secondary;
  color: $white;

  &:hover {
    border-color: $color-secondary;
    background-color: $color-secondary;
    color: $white;
  }
}