<template>
  <modal name="modal-product-sample">
    <p slot="header">
      {{ $t("Sample of Product") + "&nbsp;&dash;&nbsp;"+product.name }}
    </p>
    <div slot="content">
      <div v-if="product.sample_read" v-html="product.sample_read" />
      <div v-else>
        No sample data found
      </div>
    </div>
  </modal>
</template>
<script>
import i18n from '@vue-storefront/i18n'
import Modal from 'theme/components/core/Modal'

export default {
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  components: {
    Modal
  }
}
</script>
