<template>
  <div id="home">
    <!-- Main Slider Section -->
    <main-slider />

    <!-- Recommended Products Section -->
    <section class="pt40 pb40">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <product-listing-slider class="shaded-box" :title="$t('Hello, Guest')" :sub-title="$t('Recommended Products')" :per-page-custom="[[0, 1], [480, 2], [768, 3], [1200, 4]]" :product-border-enabled="false" :limit="10" />
          </div>
          <div class="col-md-3 featured-items-sec">
            <product-listing-slider class="shaded-box" :title="$t('Featured Items')" :pagination-enabled="true" :product-border-enabled="false" :limit="5" />
          </div>
        </div>
      </div>
    </section>

    <!-- Recommended For You Only Section -->
    <section class="pb40">
      <div class="container">
        <product-listing-slider class="shaded-box" :title="$t('Recommended For You Only')" :per-page-custom="[[0, 1], [480, 2], [768, 3], [1200, 5]]" :product-border-enabled="false" :limit="10" :see-all-link="'/bf20-mar-online/bf20-ln-mg'" />
      </div>
    </section>

    <!-- Top Ranked Categories Section -->
    <section class="pb40">
      <div class="shaded-strip">
        <div class="container">
          <top-ranked-categories class="slider-spacing" :title="$t('Top Ranked Categories')" :per-page-custom="[[0, 1], [480, 2], [768, 3], [1200, 5]]" :limit="10" :see-all-link="'/bf20-mar-online/bf20-ln-mg'" :badge="'assets/hot-badge.svg'" />
        </div>
      </div>
    </section>

    <!-- Just Arrived Books Section -->
    <section class="pb40">
      <div class="container">
        <product-listing-slider class="shaded-box" :title="$t('Just Arrived Books')" :per-page-custom="[[0, 1], [480, 2], [768, 3], [1200, 5]]" :product-border-enabled="false" :limit="10" :see-all-link="'/bf20-mar-online/bf20-ln-mg'" :badge="'assets/new-badge.svg'" />
      </div>
    </section>

    <!-- Best Picked From Light Novel Section -->
    <section class="pb40">
      <div class="container">
        <product-listing-slider class="shaded-box" :title="$t('Best Picked From Light Novel')" :per-page-custom="[[0, 1], [480, 2], [768, 3], [1200, 5]]" :product-border-enabled="false" :limit="10" :see-all-link="'/bf20-mar-online/bf20-ln-mg'" />
      </div>
    </section>

    <!-- Bestseller Products Section -->
    <section class="pb40">
      <div class="container">
        <product-listing-slider class="shaded-box" :title="$t('Bestseller Products')" :per-page-custom="[[0, 1], [480, 2], [768, 3], [1200, 5]]" :product-border-enabled="false" :limit="10" :see-all-link="'/bf20-mar-online/bf20-ln-mg'" :badge="'assets/best-badge.svg'" />
      </div>
    </section>

    <!-- Fresh Selection From Artbook Section -->
    <section class="pb40">
      <div class="container">
        <product-listing-slider class="shaded-box" :title="$t('Fresh Selection From Artbook')" :per-page-custom="[[0, 1], [480, 2], [768, 3], [1200, 5]]" :product-border-enabled="false" :limit="10" :see-all-link="'/bf20-mar-online/bf20-ln-mg'" />
      </div>
    </section>

    <!-- Suggested On Your Purchase History Section -->
    <section class="pb40">
      <div class="container">
        <product-listing-slider class="shaded-box" :title="$t('Suggested On Your Purchase History')" :per-page-custom="[[0, 1], [480, 2], [768, 3], [1200, 5]]" :product-border-enabled="false" :limit="10" :see-all-link="'/bf20-mar-online/bf20-ln-mg'" />
      </div>
    </section>

    <!-- Recently Viewed Section -->
    <section class="pb40">
      <div class="container">
        <product-listing-slider class="shaded-box" :title="$t('Recently Viewed')" :per-page-custom="[[0, 1], [480, 2], [768, 3], [1200, 5]]" :product-border-enabled="false" :limit="10" :see-all-link="'/bf20-mar-online/bf20-ln-mg'" />
      </div>
    </section>
  </div>
</template>

<script>
// query constructor
import { isServer, onlineHelper } from '@vue-storefront/core/helpers'
import LazyHydrate from 'vue-lazy-hydration'

// Core pages
import Home from '@vue-storefront/core/pages/Home'
// Theme core components
import ProductListing from 'theme/components/core/ProductListing'
// import HeadImage from 'theme/components/core/blocks/MainSlider/HeadImage'
import MainSlider from 'theme/components/core/blocks/MainSlider/MainSlider'
// Theme local components
// import Onboard from 'theme/components/theme/blocks/Home/Onboard'
// import PromotedOffers from 'theme/components/theme/blocks/PromotedOffers/PromotedOffers'
// import TileLinks from 'theme/components/theme/blocks/TileLinks/TileLinks'
import { Logger } from '@vue-storefront/core/lib/logger'
import { mapGetters } from 'vuex'
import config from 'config'
import { registerModule } from '@vue-storefront/core/lib/modules'
import { RecentlyViewedModule } from '@vue-storefront/core/modules/recently-viewed'
import ProductListingSlider from 'theme/components/core/blocks/Product/ProductListingSlider'
import TopRankedCategories from 'theme/components/core/blocks/Category/TopRankedCategories'

export default {
  data () {
    return {
      loading: true
    }
  },
  mixins: [Home],
  components: {
    // HeadImage,
    // Onboard,
    // ProductListing,
    // PromotedOffers,
    // TileLinks,
    // LazyHydrate,
    MainSlider,
    ProductListingSlider,
    TopRankedCategories
  },
  computed: {
    ...mapGetters('user', ['isLoggedIn']),
    ...mapGetters('homepage', ['getEverythingNewCollection']),
    categories () {
      return this.getCategories
    },
    isOnline () {
      return onlineHelper.isOnline
    },
    isLazyHydrateEnabled () {
      return config.ssr.lazyHydrateFor.some(
        field => ['homepage', 'homepage.new_collection'].includes(field)
      )
    }
  },
  beforeCreate () {
    registerModule(RecentlyViewedModule)
  },
  async beforeMount () {
    if (this.$store.state.__DEMO_MODE__) {
      const onboardingClaim = await this.$store.dispatch('claims/check', { claimCode: 'onboardingAccepted' })
      if (!onboardingClaim) { // show onboarding info
        this.$bus.$emit('modal-toggle', 'modal-onboard')
        this.$store.dispatch('claims/set', { claimCode: 'onboardingAccepted', value: true })
      }
    }
  },
  mounted () {
    if (!this.isLoggedIn && localStorage.getItem('redirect')) this.$bus.$emit('modal-show', 'modal-signup')
  },
  watch: {
    isLoggedIn () {
      const redirectObj = localStorage.getItem('redirect')
      if (redirectObj) this.$router.push(redirectObj)
      localStorage.removeItem('redirect')
    }
  },
  async asyncData ({ store, route }) { // this is for SSR purposes to prefetch data
    Logger.info('Calling asyncData in Home (theme)')()

    await Promise.all([
      store.dispatch('homepage/fetchNewCollection'),
      store.dispatch('promoted/updateHeadImage'),
      store.dispatch('promoted/updatePromotedOffers')
    ])
  },
  beforeRouteEnter (to, from, next) {
    if (!isServer && !from.name) { // Loading products to cache on SSR render
      next(vm =>
        vm.$store.dispatch('homepage/fetchNewCollection').then(res => {
          vm.loading = false
        })
      )
    } else {
      next()
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$white: color(white);

.new-collection {
  @media (max-width: 767px) {
    padding-top: 0;
  }
}
</style>
<style lang="scss">
.featured-items-sec {
  .shaded-box {
    padding-left: 42px;
    padding-right: 42px;
  }
  .title-sec {
    margin-bottom: 44px;
  }
  .product {

    .btn-outlined,
    .btn-full,
    .product__icons,
    .product-tile-title {
      display: none;
    }
  }
  .product-listing-carousel-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;

    .product-listing-carousel {
      flex-grow: 1;
    }

    .VueCarousel,
    .VueCarousel-wrapper,
    .VueCarousel-inner,
    .VueCarousel-slide,
    .product,
    .product-link,
    .product-cover,
    .product-image {
      height: 100% !important;
    }
  }
}
</style>
