<template>
  <div class="relative">
    <div class="sidebar-close">
      <img src="~theme/assets/sidebar-close.svg" alt="Close" @click="closeMenu">
    </div>
    <div class="sidebar-menu">
      <div class="login-info">
        <div class="user-info-wrap">
          <div class="user-img">
            <img src="/assets/user-placeholder.jpg" alt="User" class="object-cover">
          </div>
          <div class="user-gn">
            <span class="g-text">
              {{ "Hello" }},
            </span>
            <strong class="u-name">
              {{ userFullname }}
            </strong>
          </div>
        </div>
        <div class="user-setting" @click="closeMenu">
          <img src="/assets/settings.svg" alt="settings" @click="login">
        </div>
      </div>
      <!-- <div class="row">
        <div
          v-if="submenu.depth"
          class="col-xs"
        >
          <sub-btn type="back" class="bg-cl-transparent brdr-none" />
        </div>
        <div class="col-xs">
          <button
            type="button"
            :aria-label="$t('Close')"
            class="w-100 inline-flex end-xs bg-cl-transparent brdr-none p0 close-btn"
            @click="closeMenu"
          >
            <i class="material-icons p15">close</i>
          </button>
        </div>
      </div> -->
      <div class="sidebar-menu__container" ref="container">
        <div class="sidebar-menu-cover">
          <div class="sidebar-menu-wrap" :style="mainListStyles">
            <h2 class="nav-title">
              {{ $t('SHOP BY CATEGORY') }}
            </h2>
            <ul class="p0 m0 sidebar-menu__list">
              <li
                @click="closeMenu"
              >
                <router-link
                  :to="localizedRoute('/')"
                  exact
                >
                  {{ $t('Home') }}
                </router-link>
              </li>
              <li
                :key="category.slug"
                @click="closeMenu"
                v-for="category in visibleCategories"
              >
                <div
                  v-if="isCurrentMenuShowed"
                  class="subcategory-item"
                >
                  <sub-btn
                    v-if="category.children_count > 0"
                    :id="category.id"
                    :name="category.name"
                  />
                  <router-link
                    v-else
                    :to="categoryLink(category)"
                  >
                    {{ category.name }}
                  </router-link>
                </div>
                <sub-category
                  :category-links="category.children_data"
                  :id="category.id"
                  :parent-slug="category.slug"
                  :parent-path="category.url_path"
                  :parent="category.name"
                />
              </li>
              <!-- <li
                v-if="isCurrentMenuShowed"
                @click="closeMenu"
                class="bg-cl-secondary"
              >
                <router-link
                  class="block px25 py20 brdr-bottom-1 brdr-cl-secondary cl-accent no-underline fs-medium-small"
                  :to="localizedRoute('/magazine')"
                  exact
                >
                  {{ $t('Magazine') }}
                </router-link>
              </li>
              <li
                v-if="compareIsActive && isCurrentMenuShowed"
                @click="closeMenu"
                class="bg-cl-secondary"
              >
                <router-link
                  class="block px25 py20 brdr-bottom-1 brdr-cl-secondary cl-accent no-underline fs-medium-small"
                  :to="localizedRoute('/compare')"
                  exact
                >
                  {{ $t('Compare products') }}
                </router-link>
              </li>
              <li
                @click="login"
                class="brdr-bottom-1 brdr-cl-secondary bg-cl-secondary flex"
              >
                <sub-btn
                  v-if="currentUser"
                  id="my-account-links"
                  :is-category="false"
                  :name="$t('My account')"
                  class="bg-cl-transparent brdr-none fs-medium-small"
                />
                <sub-category
                  v-if="currentUser"
                  :my-account-links="myAccountLinks"
                  id="my-account-links"
                  @click.native="closeMenu"
                />
                <a
                  v-if="!currentUser && isCurrentMenuShowed"
                  href="#"
                  @click.prevent="closeMenu"
                  class="block w-100 px25 py20 cl-accent no-underline fs-medium-small"
                >
                  {{ $t('My account') }}
                </a>
              </li> -->
            </ul>
          </div>
        </div>
        <ul class="sidebar-custom-menu__list">
          <li
            @click="closeMenu"
          >
            <router-link
              :to="localizedRoute('/')"
              exact
              class="flex middle-xs"
            >
              <img src="/assets/pink-new-badge.svg" alt="New" class="mr15">
              {{ $t('Today\'s Deal') }}
            </router-link>
          </li>
        </ul>
        <div class="box-menu-list">
          <div class="box-menu-item" @click="closeMenu">
            <router-link
              :to="localizedRoute('/')"
              exact
              class="flex middle-xs"
            >
              <svg width="35" height="30" viewBox="0 0 35 30" fill="none" xmlns="http://www.w3.org/2000/svg" class="mb10">
                <path d="M17.1137 8.58521L17.1106 16.0692C17.1106 16.3534 17.2234 16.625 17.424 16.8256L22.778 22.1784L24.2906 20.6658L19.2501 15.6263L19.2532 8.58521L17.1137 8.58521Z" fill="#67B6C3" />
                <path d="M19.2553 0.0273438C11.7255 0.0273438 5.49366 5.61946 4.44994 12.8642H0L5.3487 18.2129L10.6974 12.8642H6.61168C7.63509 6.80281 12.907 2.16685 19.2553 2.16685C26.334 2.16685 32.0922 7.92505 32.0922 15.0037C32.0922 22.0824 26.334 27.8406 19.2553 27.8406C15.2762 27.8406 11.5865 26.0396 9.13248 22.8993L7.4464 24.2156C10.3088 27.8782 14.6128 29.9801 19.2553 29.9801C27.5134 29.9801 34.2317 23.2608 34.2317 15.0037C34.2317 6.74672 27.5134 0.0274059 19.2553 0.0273438V0.0273438Z" fill="#67B6C3" />
              </svg>
              {{ $t('Browsing History') }}
            </router-link>
          </div>
          <div class="box-menu-item" @click="closeMenu">
            <router-link
              :to="localizedRoute('/')"
              exact
              class="flex middle-xs"
            >
              <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" class="mb10">
                <path d="M14.0403 20.5925H15.9124V22.4646H14.0403V20.5925Z" fill="#67B6C3" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 14.9764C0 6.71853 6.71853 0 14.9764 0C23.2342 0 29.9527 6.71853 29.9527 14.9764C29.9527 23.2342 23.2342 29.9527 14.9764 29.9527C6.71853 29.9527 0 23.2342 0 14.9764ZM1.87207 14.9764C1.87207 22.2022 7.75054 28.0807 14.9764 28.0807C22.2022 28.0807 28.0807 22.2022 28.0807 14.9764C28.0807 7.75054 22.2022 1.87207 14.9764 1.87207C7.75054 1.87207 1.87207 7.7506 1.87207 14.9764Z" fill="#67B6C3" />
                <path d="M14.0404 7.48828H15.9124V18.7206H14.0404V7.48828Z" fill="#67B6C3" />
              </svg>
              {{ $t('Support') }}
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import i18n from '@vue-storefront/i18n'
import SidebarMenu from '@vue-storefront/core/compatibility/components/blocks/SidebarMenu/SidebarMenu'
import SubBtn from 'theme/components/core/blocks/SidebarMenu/SubBtn'
import SubCategory from 'theme/components/core/blocks/SidebarMenu/SubCategory'
import { formatCategoryLink } from '@vue-storefront/core/modules/url/helpers'
import { disableBodyScroll, clearAllBodyScrollLocks } from 'body-scroll-lock'

export default {
  components: {
    SubCategory,
    SubBtn
  },
  mixins: [SidebarMenu],
  data () {
    return {
      myAccountLinks: [
        {
          id: 1,
          name: i18n.t('My profile'),
          url: '/my-account'
        },
        {
          id: 2,
          name: i18n.t('My shipping details'),
          url: '/my-account/shipping-details'
        },
        {
          id: 3,
          name: i18n.t('My newsletter'),
          url: '/my-account/newsletter'
        },
        {
          id: 4,
          name: i18n.t('My orders'),
          url: '/my-account/orders'
        },
        {
          id: 5,
          name: i18n.t('My loyalty card'),
          url: '#'
        },
        {
          id: 6,
          name: i18n.t('My product reviews'),
          url: '#'
        }
      ],
      componentLoaded: false
    }
  },
  computed: {
    mainListStyles () {
      return this.submenu.depth ? `transform: translateX(${this.submenu.depth * 100}%)` : false
    },
    ...mapState({
      submenu: state => state.ui.submenu,
      currentUser: state => state.user.current
    }),
    getSubmenu () {
      return this.submenu
    },
    visibleCategories () {
      return this.categories.filter(category => {
        return category.product_count > 0 || category.children_count > 0
      })
    },
    isCurrentMenuShowed () {
      return !this.getSubmenu || !this.getSubmenu.depth
    },
    userFullname () {
      return this.isLogged
        ? this.currentUser.firstname + ' ' + this.currentUser.lastname
        : 'Guest';
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.componentLoaded = true;
      disableBodyScroll(this.$refs.container)
    })
  },
  destroyed () {
    clearAllBodyScrollLocks()
  },
  methods: {
    login () {
      if (!this.currentUser && this.isCurrentMenuShowed) {
        this.$nextTick(() => {
          this.$store.commit('ui/setAuthElem', 'login')
          this.$bus.$emit('modal-show', 'modal-signup')
          this.$router.push({ name: 'my-account' })
        })
      }
    },
    categoryLink (category) {
      return formatCategoryLink(category)
    }
  }
}
</script>

<style lang="scss">
@import "~theme/css/animations/transitions";
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$bg-secondary: color(secondary, $colors-background);
$color-gainsboro: color(gainsboro);
$color-matterhorn: color(matterhorn);
$color-mine-shaft: color(mine-shaft);
$gray-666666: color(gray-666666);
$color-primary: color(primary);
$color-secondary: color(secondary);
$pink-EB8097: color(pink-EB8097);
$white: color(white);
$gray-444444: color(gray-444444);
$green-F3F9FA: color(green-F3F9FA);
$white: color(white);

.sidebar-menu {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;

  @media (max-width: 767px) {
    width: 100vh;
  }

  &__container {
    padding-bottom: 20px;
    position: relative;
    height: calc(100% - 120px);
  }

  &__list {
    transition: transform $duration-main $motion-main;
  }

  ul {
    list-style-type: none;
  }

  li {

    a, button {
      position: relative;
      text-align: left;
      background-color: $white;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 4px;
        height: 100%;
        transform: scaleY(0);
        background-color: transparent;
        transform-origin: center;
        transition: all 0.5s ease 0s;
        z-index: 1;
      }

      &:hover,
      &:focus {
        background-color: $green-F3F9FA;
        color: $color-secondary;

        &::after {
          background-color: $color-secondary;
          transform: scaleY(1);
        }
      }
    }

    a.router-link-exact-active {
      background-color: $green-F3F9FA;
      color: $color-secondary;

      &::after {
        background-color: $color-secondary;
        transform: scaleY(1);
      }
    }
  }

  a {
    color: $color-primary;
    border: 0 none;
    background-color: transparent;
    font-size: 20px;
    font-weight: 600;
    padding: 22px 40px;
    display: flex;
    width: 100%;
  }

  .parent-name {
    font-weight: 500;
    color: $gray-666666;
  }

  .subcategory-item {
    display: flex;
    width: 100%;
  }

  button {
    color: $color-primary;
    background-color: $white;
    a {
      color: $color-primary;
    }
  }

  .close-btn {
    i {
      color: $color-gainsboro;
    }
    &:hover,
    &:focus {
      i {
        color: $color-matterhorn;
      }
    }
  }

  .nav-title {
    font-size: 20px;
    font-weight: 500;
    color: $gray-666666;
    padding: 22px 40px;
    margin: 0;
  }

  .sidebar-custom-menu__list {
    margin: 0;
    padding: 0;

    li {
      a {
        color: $pink-EB8097;
        &:hover,
        &:focus,
        &.router-link-exact-active {
          background-color: transparent;
          color: $pink-EB8097;
        }

        &.router-link-exact-active {
          &::after {
            display: none;
          }
        }
      }
    }
  }

  .box-menu-list {
    margin-top: 28px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;

    .box-menu-item {
      padding-left: 10px;
      padding-right: 10px;
      flex: 0 0 50%;
      max-width: 50%;

      a {
        flex-direction: column;
        align-items: center;
        border: 2px solid $color-secondary;
        border-radius: 6px;
        padding: 12px 10px;
        color: $color-secondary;
        background-color: transparent;
        font-size: 18px;

        &:hover,
        &:focus {
          background-color: $color-secondary;
          color: $white;

          svg {
            path {
              fill: $white;
            }
          }
        }
      }
    }
  }

  .login-info {
    background-color: $color-secondary;
    padding: 20px 30px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    font-size: 26px;

    .user-info-wrap {
      display: flex;
      align-items: center;

      .user-img {
        width: 80px;
        height: 80px;
        background-color: $white;
        border-radius: 50%;
        margin-right: 20px;
        box-shadow: 0 6px 9px rgba($gray-444444 ,0.2);
        overflow: hidden;
      }
    }

    .user-setting {
      cursor: pointer;
      animation-play-state: paused;
      animation-duration: 8s;
      animation-name: rotate-infinite;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

      &:hover {
        animation-play-state: running;
      }

      img {
        display: block;
      }
    }
  }

  .sidebar-menu-wrap {
    transition: transform $duration-main $motion-main;
  }

  .sidebar-menu-cover {
    height: calc(100% - 210px);
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

}
</style>
