<template>
  <li class="product-item">
    <div class="product-image-wrap" @click="closeWishlist">
      <router-link :to="productLink">
        <div class="product-cover">
          <product-image :image="image" />
        </div>
      </router-link>
    </div>
    <div class="product-item-content">
      <div class="product-item-text">
        <div @click="closeWishlist" class="product-item-text-wrap">
          <h5 class="product-item-title">
            <router-link :to="productLink">
              {{ product.name | htmlDecode }}
            </router-link>
          </h5>
          <div class="product-item-info-list">
            <div class="product-item-info-item">
              <span class="product-item-info-title">{{ $t('Author Name: ') }}</span>
              <span class="product-item-info-text weight-600 text-underline cl-primary">{{ $t('Natsuya Semikawa') }}</span>
            </div>
            <div class="product-item-info-item">
              <span class="product-item-info-title">{{ $t('Number of Page: ') }}</span>
              <span class="product-item-info-text">{{ $t('150') }}</span>
            </div>
          </div>
          <div v-if="showAddToCart" class="product-item-btn-wrap">
            <add-to-cart-with-price
              v-if="product.type_id === 'simple'"
              :product="product"
              class="wishlist-add-to-cart"
            />
            <button class="btn-outlined read-sample-btn">
              {{ $t('Read sample') }}
            </button>
            <!-- <router-link
              v-else
              :to="productLink"
              class="wishlist-add-to-cart no-outline button-full block brdr-none w-100 px10 py20 bg-cl-mine-shaft :bg-cl-th-secondary ripple weight-400 h4 cl-white sans-serif fs-medium col-xs-12 col-sm-4 col-md-6"
            >
              {{ $t('Configure') }}
            </router-link> -->
          </div>
        </div>
      </div>
      <div class="product-item-price-sec">
        <div class="weight-700 cl-secondary h1">
          <span class="price-special" v-if="product.special_price">{{ product.price_incl_tax | price(storeView) }}&nbsp;</span>
          <span class="price-original" v-if="product.special_price">{{ product.original_price_incl_tax | price(storeView) }}</span>

          <span v-if="!product.special_price">
            {{ product.price_incl_tax | price(storeView) }}
          </span>
        </div>
        <div class="mt5">
          <span @click="removeProductFromWhishList(product)"><remove-button /></span>
        </div>
      </div>
    </div>
  </li>
</template>

<script>
import config from 'config'
import Product from '@vue-storefront/core/compatibility/components/blocks/Wishlist/Product'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import { formatProductLink } from '@vue-storefront/core/modules/url/helpers'
import ProductImage from 'theme/components/core/ProductImage'
import RemoveButton from './RemoveButton'
import i18n from '@vue-storefront/i18n'
import { htmlDecode } from '@vue-storefront/core/lib/store/filters'
// import AddToCart from 'theme/components/core/AddToCart'
import AddToCartWithPrice from 'theme/components/core/AddToCartWithPrice'

export default {
  components: {
    RemoveButton,
    ProductImage,
    AddToCartWithPrice
  },
  mixins: [Product],
  props: {
    showAddToCart: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    productLink () {
      return formatProductLink(this.product, currentStoreView().storeCode)
    },
    image () {
      return {
        loading: this.thumbnail,
        src: this.thumbnail
      }
    },
    storeView () {
      return currentStoreView()
    }
  },
  methods: {
    removeProductFromWhishList (product) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t('<img class="mb40" src="/assets/red-close.svg" alt="Warninig" /><h2 class="notification-title">Are you sure?</h2>Do you really want to delete these record? This process cannot be undone.'),
        action1: { label: this.$t('Cancel'), action: 'close' },
        action2: { label: this.$t('Delete'),
          action: () => {
            this.removeFromWishlist(product)
          }
        },
        hasNoTimeout: true
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/animations/transitions';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-666666: color(gray-666666);
$color-secondary: color(secondary);
$color-white: color(white);

.blend {
  flex: 0 0 121px;
  opacity: .8;
  will-change: opacity;
  transition: .3s opacity $motion-main;
  &:hover{
     opacity: 1;
   }
}
.col-xs {
  flex-direction: column;
}
input {
  width: 30px;
}
.price-original {
  text-decoration: line-through;
  color: #828282;
  font-size: .95rem;
}
.wishlist-add-to-cart {
  margin: 0 15px 0 0;
  min-width: 100px;
  text-align: center;
  width: auto;
}
.price-original {
  text-decoration: line-through;
  color: #828282;
  font-size: .95rem;
}
.price-original {
  text-decoration: line-through;
  color: #828282;
  font-size: .95rem;
}
.product-item {
  display: flex;
  margin-bottom: 30px;

  .product-image-wrap {
    flex: 0 0 120px;
    max-width: 120px;

    .product-cover {
      border-radius: 6px;
      overflow: hidden;
      position: relative;

      &__thumb {
        &::after {
          content: "";
          position: absolute;
          top: 0;
          height: 100%;
          left: 0;
          width: 100%;
          background-color: rgba($color-white, 0.6);
          opacity: 0;
          transition: all 0.5s ease 0s;
        }
      }

      &:hover {
        .product-cover__thumb {
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }

  .product-item-content {
    flex: calc(100% - 120px);
    max-width: calc(100% - 120px);
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
  }

  .product-item-title {
    margin-bottom: 10px;
  }

  .product-item-info-list {
    font-weight: 500;
    font-size: 13px;
    color: $gray-666666;
    margin-bottom: 15px;
    line-height: 1.5;
  }
}
.read-sample-btn {
  min-width: 160px;
  min-height: 44px;
}
.product-item-price-sec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 15px;
}
.product-item-text-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.product-item-btn-wrap {
  flex-grow: 1;
  align-items: flex-end;
  display: flex;
}
</style>
