<template>
  <div class="quick-view">
    <modal name="quick-view-modal">
      <div>
        <div class="row">
          <div class="col-sm-5">
            <div
              class="product-cover"
            >
              <div class="product__icons">
                <AddToWishlist :product="product">
                  <span
                    class="product__icon wishlist-icon"
                    :class="{'product__icon--active': isOnWishlist }"
                    :title="isOnWishlist ? $t('Remove') : $t('Add to favorite') "
                  >
                    <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path id="Path" fill-rule="evenodd" clip-rule="evenodd" d="M12.6364 1C15.0463 1 17 2.91878 17 5.28571C17 9.57027 9 16 9 16C9 16 1 9.57114 1 5.28571C1 2.91878 2.95367 1 5.36364 1C6.88183 1 8.21894 1.76148 9.00061 2.91676C9.78106 1.76148 11.1182 1 12.6364 1Z" fill="#A3A3A3" fill-opacity="0.1" stroke="#A3A3A3" stroke-width="1.5" />
                    </svg>
                  </span>
                </AddToWishlist>
              </div>
              <router-link
                class="block no-underline product-link"
                :to="productLink"
                data-testid="productLink"
              >
                <product-image
                  class="product-cover__thumb"
                  :image="thumbnailObj"
                  :alt="product.name | htmlDecode"
                  :calc-ratio="false"
                  data-testid="productImage"
                />
              </router-link>
            </div>
          </div>
          <div class="col-sm-7">
            <div class="product-tile-info">
              <h5 class="product-tile-title">
                <router-link
                  class="block no-underline product-link"
                  :to="productLink"
                  data-testid="productLink"
                >
                  {{ product.name | htmlDecode }}
                </router-link>
              </h5>
              <div class="product-item-info-list">
                <div class="product-item-info-item">
                  <span class="product-item-info-title">{{ $t('Author Name: ') }}</span>
                  <span class="product-item-info-text weight-600 text-underline cl-primary">{{ $t('Natsuya Semikawa') }}</span>
                </div>
                <div class="product-item-info-item">
                  <span class="product-item-info-title">{{ $t('Release Date: ') }}</span>
                  <span class="product-item-info-text">{{ $t('01-06-2018') }}</span>
                </div>
              </div>
              <div class="product-rating-wrap">
                <div class="product-rating">
                  <img src="/assets/ratings.svg" alt="Ratings">
                </div>
                <div class="product-review">
                  {{ $t('10 review') }}
                </div>
              </div>
              <div class="product-tile-description" v-html="product.short_description" v-if="product.short_description" />
              <div class="product-tile-price">
                <product-price
                  :product="product"
                />
              </div>
              <div class="info-btn-list">
                <div class="info-btn-item btn-yellow">
                  <img src="/assets/reward-hand.svg" alt="Reward Points" class="mr5">
                  {{ $t('You Get 4 reward points') }}
                </div>
                <div class="info-btn-item btn-blue">
                  <img src="/assets/delivery-time.svg" alt="Delivery Time" class="mr5">
                  {{ $t('Get Deliverd by Tomorow') }}
                  <img src="/assets/blue-tooltip.svg" alt="Tooltip" class="ml5">
                </div>
              </div>
              <quantity-box
                v-if="product.type_id !== 'grouped' && product.type_id !== 'bundle' && product.stock && product.stock.is_in_stock"
                v-model.number="product.qty"
                :aria-label="'Quantity'"
                :has-label="true"
                :custom-width="10"
                class="lg:mt-10"
                size="lg"
              />
              <div class="product-tile-actions">
                <add-to-cart-with-price
                  :product="product"
                  :key="product.id"
                />
                <button class="btn-outlined mt8 w-100" @click="$emit('read-sample-popup',product)">
                  {{ $t('Read sample') }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </modal>
  </div>
</template>

<script>
import Modal from 'theme/components/core/Modal';
import config from 'config'
import ProductImage from '../../ProductImage'
import ProductPrice from '../../ProductPrice'
import { productThumbnailPath } from '@vue-storefront/core/helpers'
import AddToCartWithPrice from 'theme/components/core/AddToCartWithPrice'
import { formatProductLink } from '@vue-storefront/core/modules/url/helpers'
import QuantityBox from './QuantityBox'
import AddToWishlist from 'theme/components/core/blocks/Wishlist/AddToWishlist'
import { IsOnWishlist } from '@vue-storefront/core/modules/wishlist/components/IsOnWishlist'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'

export default {
  name: 'ProductQuickView',
  mixins: [IsOnWishlist],
  props: {
    product: {
      required: true,
      type: Object
    }
  },
  data () {
    return {
      detailsOpen: false,
      maxQuantity: 0,
      quantityError: false,
      isStockInfoLoading: false,
      hasAttributesLoaded: false,
      manageQuantity: true
    }
  },

  components: {
    ProductImage,
    ProductPrice,
    AddToCartWithPrice,
    AddToWishlist,
    QuantityBox,
    Modal
  },
  computed: {
    thumbnail () {
      let thumbnail = productThumbnailPath(this.product)
      return this.getThumbnail(thumbnail, 600, 1000)
    },
    thumbnailObj () {
      return {
        src: this.thumbnail,
        loading: this.thumbnail
      }
    },
    isAddToCartDisabled () {
      if (this.quantityError || this.isStockInfoLoading) {
        return false
      }

      return this.isOnline && !this.maxQuantity && this.manageQuantity
    },
    productLink () {
      return formatProductLink(this.product)
    },
    storeView () {
      return currentStoreView()
    }
  },
  methods: {
    handleQuantityError (error) {
      this.quantityError = error
    }
  }
};
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-secondary: color(secondary);
$gray-666666: color(gray-666666);
$gray-888888: color(gray-888888);
$gray-444444: color(gray-444444);

.quick-view {
  .modal {
    .modal-container {
      padding: 50px;
      height: auto;
    }
  }

  .product-cover,
  .product-link,
  .product-image {
    height: 100%;
  }

  .product-cover {
    position: relative;
    height: 450px;

    .product__icons {
      position: absolute;
      top: 12px;
      right: 14px;
      z-index: 1;
    }
  }

  .product-tile-title {
    margin-bottom: 0;
  }

  .product-item-info-list {
    font-size: 13px;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;

    .product-item-info-item {
      & + .product-item-info-item {
        &::before {
          content: "|";
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
  }

  .product-tile-description {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.67;
    color: $gray-666666;
    margin-bottom: 25px;
  }

  .product-tile-price {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px;
    color: $color-secondary;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .price-regular {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 0;
      color: $color-secondary;
    }

    .price-original {
      font-size: 16px;
      font-weight: 500;
      color: $gray-888888;
    }
  }

  .info-btn-list {
    margin-bottom: 25px;
  }

  .qty-input {
    margin-bottom: 16px;
  }

  .product-tile-actions {
    display: flex;
    flex-wrap: wrap;

    button {
      margin: 0;
      width: 48%;
      flex: 0 0 48%;
      max-width: 48%;

      & + button {
        margin-left: 15px;
      }
    }
  }

  .product-rating-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 25px;
    font-size: 12px;
    color: $gray-888888;

    .product-rating {
      margin-right: 20px;
    }
  }
}
</style>
