<template>
  <div class="product-listing-carousel-wrap">
    <div class="title-sec" :class="{'badge-enabled' : badge}">
      <h2 class="sec-title flex middle-xs center-xs m0">
        <span class="sec-title-wrap">
          <img :src="badge" alt="Badge" v-if="badge"> {{ title }}
        </span>
      </h2>
      <div class="flex end-xs see-all-link-wrap" v-if="seeAllLink">
        <router-link
          class="see-all-link"
          :to="seeAllLink"
        >
          {{ $t('See All') }}
          <svg class="ml8" width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.5 0.550781L12.4497 5.50053L7.5 10.4503" stroke="#666666" stroke-width="1.5" />
            <path d="M0.5 5.50049H12.5796" stroke="#666666" stroke-width="1.5" />
          </svg>
        </router-link>
      </div>
      <h4 class="sec-subtitle align-center m0" v-if="subTitle">
        {{ subTitle }}
      </h4>
    </div>
    <div class="product-listing-carousel" v-if="topSelection.length > 0">
      <no-ssr>
        <carousel
          :per-page="1"
          :per-page-custom="perPageCustom"
          :mouse-drag="false"
          :pagination-enabled="paginationEnabled"
          :navigation-enabled="navigationEnabled"
          pagination-active-color="#67B6C3"
          navigation-next-label="<svg width='14' height='23' viewBox='0 0 14 23' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1.89844 21L11.7979 11.1005L1.89844 1.20101' stroke='#D8D8D8' stroke-width='3'/></svg>"
          navigation-prev-label="<svg width='14' height='23' viewBox='0 0 14 23' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M12.9023 21L3.00285 11.1005L12.9023 1.20101' stroke='#D8D8D8' stroke-width='3'/></svg>"
        >
          <slide v-for="(product, index) of topSelection" :key="index" class="hover-on-product">
            <product-tile :product="product" :product-border-enabled="productBorderEnabled" />
          </slide>
        </carousel>
      </no-ssr>
    </div>
  </div>
</template>
<script>
import NoSSR from 'vue-no-ssr';
import { prepareQuery } from '@vue-storefront/core/modules/catalog/queries/common';
import ProductTile from 'theme/components/core/ProductTile';
export default {
  name: 'ProductListingSlider',
  props: {
    title: {
      type: String,
      default: ''
    },
    subTitle: {
      type: String,
      default: ''
    },
    perPageCustom: {
      type: Array,
      default: () => []
    },
    paginationEnabled: {
      type: Boolean,
      default: false
    },
    navigationEnabled: {
      type: Boolean,
      default: true
    },
    productBorderEnabled: {
      type: Boolean,
      default: false
    },
    limit: {
      type: Number,
      default: 1
    },
    seeAllLink: {
      type: String,
      default: ''
    },
    badge: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      topSelection: [],
      quickViewProduct: null
    };
  },
  components: {
    Carousel: () => import('vue-carousel').then(Slider => Slider.Carousel),
    Slide: () => import('vue-carousel').then(Slider => Slider.Slide),
    ProductTile,
    'no-ssr': NoSSR
  },
  async mounted () {
    let newProductsQuery = prepareQuery({ queryConfig: 'products' });
    const newProductsResult = await this.$store.dispatch('product/list', {
      query: newProductsQuery,
      size: this.$props.limit
    });
    this.topSelection =
      newProductsResult.items.length > 0 ? newProductsResult.items : [];
  }
};
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$gray-DBDBDB: color(gray-DBDBDB);
$gray-DDDDDD: color(gray-DDDDDD);
$gray-666666: color(gray-666666);

.product-listing-carousel {
  .VueCarousel-inner {
    margin: 0 -1.6%;
  }

  .VueCarousel-slide {
    padding: 0 1.6%;
  }

  .VueCarousel-navigation-button {
    padding: 0;

    svg {
      path {
        transition: all 0.3s ease 0s;
      }
    }

    &:hover {
      svg {
        path {
          stroke: $color-secondary;
        }
      }
    }

    &.VueCarousel-navigation--disabled {
      &:hover {
        svg {
          path {
            stroke: $gray-DBDBDB;
          }
        }
      }
    }
  }

  .VueCarousel-pagination {
    .VueCarousel-dot-container {
      margin: 35px auto 0 !important;
      display: block;
      font-size: 0;

      .VueCarousel-dot {
        width: 25px !important;
        height: 3px !important;
        padding: 0 !important;
        margin: 5px 4px 0 !important;
        border-radius: 0;
        background-color: $gray-DDDDDD !important;

        &.VueCarousel-dot--active {
          background-color: $color-secondary !important;
        }
      }
    }
  }
}

.see-all-link-wrap {
    margin-top: -21px;
    position: relative;
    z-index: 2;
}

.see-all-link {
  font-size: 15px;
  font-weight: 700;
  color: $gray-666666;

  svg {
    path {
      transition: all 0.3s ease 0s;
    }
  }

  &:hover {
    svg {
      path {
        stroke: $color-secondary;
      }
    }
  }
}
</style>
