<template>
  <button-full @click.native="addToCart(product)" :disabled="isProductDisabled" data-testid="addToCart">
    <svg class="mr5" width="25" height="22" viewBox="0 0 25 22" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="Cart">
        <g id="Rectangle">
          <path id="Rectangle_2" d="M1.98742 7.13556C1.90673 6.39593 2.48603 5.75 3.23005 5.75H21.6309C22.5797 5.75 23.1826 6.7656 22.7283 7.59857L18.9101 14.5986C18.6911 15.0001 18.2702 15.25 17.8127 15.25H3.99368C3.35579 15.25 2.82023 14.7697 2.75106 14.1356L1.98742 7.13556Z" fill="white" fill-opacity="0.1" stroke="white" stroke-width="1.5" />
        </g>
        <path id="Path 3" d="M1 1.5H6" stroke="white" stroke-width="1.5" stroke-linecap="round" />
        <circle id="Oval" cx="5.5" cy="20.5" r="1.5" fill="white" />
        <circle id="Oval Copy 6" cx="13.9" cy="20.5" r="1.5" fill="white" />
      </g>
    </svg> {{ $t('Add to Cart -&nbsp;') }}
    <span
      class="price-original mr5"
      v-if="product.special_price && parseFloat(product.original_price_incl_tax) > 0"
    >{{ product.original_price_incl_tax | price(storeView) }}</span>

    <span
      class="price-special"
      v-if="product.special_price && parseFloat(product.special_price) > 0"
    >{{ product.price_incl_tax | price(storeView) }}</span>

    <span
      v-if="!product.special_price && parseFloat(product.price_incl_tax) > 0"
    >{{ product.price_incl_tax | price(storeView) }}</span>
  </button-full>
</template>

<script>
import { formatProductMessages } from '@vue-storefront/core/filters/product-messages'
import { notifications } from '@vue-storefront/core/modules/cart/helpers'
import focusClean from 'theme/components/theme/directives/focusClean'
import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import { mapGetters } from 'vuex'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'

export default {
  directives: { focusClean },
  components: { ButtonFull },
  props: {
    product: {
      required: true,
      type: Object
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    onAfterRemovedVariant () {
      this.$forceUpdate()
    },
    async addToCart (product) {
      try {
        const diffLog = await this.$store.dispatch('cart/addItem', { productToAdd: product })
        diffLog.clientNotifications.forEach(notificationData => {
          this.notifyUser(notificationData)
        })
      } catch (message) {
        this.notifyUser(notifications.createNotification({ type: 'error', message }))
      }
    },
    notifyUser (notificationData) {
      this.$store.dispatch('notification/spawnNotification', notificationData, { root: true })
    }
  },
  computed: {
    ...mapGetters({
      isAddingToCart: 'cart/getIsAdding'
    }),
    isProductDisabled () {
      return this.disabled || formatProductMessages(this.product.errors) !== '' || this.isAddingToCart
    },
    storeView () {
      return currentStoreView()
    }
  },
  beforeMount () {
    this.$bus.$on('product-after-removevariant', this.onAfterRemovedVariant)
  },
  beforeDestroy () {
    this.$bus.$off('product-after-removevariant')
  }
}
</script>
