<template>
  <button
    type="button"
    class="btn-wishlist bg-cl-transparent brdr-none relative"
    @click="toggleWishlistPanel"
    :aria-label="$t('Open wishlist')"
  >
    <img src="~theme/assets/heart.svg" alt="Wishlist">
    <span class="mt5 f-s-12 cl-white weight-500 block">{{ $t('Favorite') }}</span>
    <span
      class="whishlist-count absolute flex center-xs middle-xs border-box py0 px2 h6 lh16 weight-700 cl-white bg-cl-primary"
      v-cloak
      v-show="getWishlistItemsCount"
    >
      {{ getWishlistItemsCount }}
    </span>
  </button>
</template>

<script>
import WishlistIcon from '@vue-storefront/core/compatibility/components/blocks/Header/WishlistIcon'

export default {
  mixins: [WishlistIcon]
}
</script>

<style scoped>
  .whishlist-count {
    top: 7px;
    left: 50%;
    min-width: 16px;
    min-height: 16px;
    border-radius: 10px;
  }
</style>
